<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <!-- Shadow DOM. El html a pintar dentro del web component-->
  <!-- El template es lo que se incrustra dentro del componente al incluir la etiqueta <frontproyecto-app></frontproyecto-app> -->
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Pintamos "Hello" + valor de la propiedad1 que devuelve el get properties de la definición de la clase (<script>) -->
    <!-- Es la manaera de hacer binding de variables -->
    <!-- [[propiedad]]: valor de la propiedad que se devolverá por código -->
    <!-- [[propiedad]] : solo soy observador de la propiedad: lo pinto. Si se pudiera cambiar la propiedad, no se propagaría a otros observdaodres de la propiedad -->
    <!-- {{propiedad}} : soy observador: si cambia, lo pinto, pero si en este código se pudiera cambiar el valor, lo propagaría a todos los observadores de la propiedad-->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años </h3>
    <!-- Aquí declaro la variable, pero le digo que es entrada y salida a observaodres y es del tipo input -->
    <!-- Cualquier cambio en este input actualiza el delarado arriba de forma [[first_name]] -->
    <input type="text" value="{{first_name::input}}"/><br/>
    <input type="text" value="{{last_name::input}}"/><br/>
    <input type="range" value="{{age::input}}" max="70"  min="18" />
  </template>

  <script>
    /**
     * Definimos la clase para dar funcionalidad al componente.
     * Extendemos de Polymer.ELement
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      // Getter que devuelve el tag que representa al componente que estamos implementando.
      static get is() { return 'frontproyecto-app'; }
      // Devuelve un conjunto de propiedades del componente
      static get properties() {
        return {
          // Una propiedad de tipo String
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
