<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Para haceer repeticiones dentro del DOM: array, tablas... -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-usuario">
  <template>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Referencia a la página de estilos de BootStrap -->
    <!-- de https://getbootstrap.com/docs/4.0/getting-started/download/ -->


    <h2>Datos de usuario</h2>
    <!-- Uso de las clases tipo tallas de uso de columnas -->
    <div class="row">
      <!-- Talla medium (md) utilizando 1 o 7 de las 12 columnas definidas en la capa de presentación -->
      <!-- BootStrap define 12 columnas para dividir la pantalla, y de estas formas le indicamos cuántas columnas usa el coompnente-->s
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-7">Soy BootStrap</h3>
    </div>

    <input type="email" placeholder="Email" value="{{emailEnvio::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <!-- on-click es un evento polymer. EL html sería onclick (sin guión) -->
    <button class="btn btn-success" on-click="login">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button type="button" class="btn btn-danger">Peligro</button>

    <!-- $ para vincular a una propiedad HTML el valor de una propiedad polymer -->
    <!-- hidden para que no se muestre el componente HTML -->
    <span hidden$="{{!logged}}">Bienvenido a casa, J</span>
    <!--<div id="datos-usuario" style="display:none">-->
    <div id="datos-usuario" hidden$="{{!logged}}">
      <h2>Datos de usuario</h2>

      <!-- Pinto las propiedades. Estas serán rellenadas por la función manejadora
      de la petición ajax: showData  -->
      <h3>Nombre : {{first_name}} {{last_name}}</h3>
      <h3>EMail : {{email}}</h3>

      <!-- iteramos sobre cada elemento del array cuentas -->
      <!-- se incrustra el template del dom-repeat-->
      <!-- hay que hacer el import del dom-repeat al comienzo -->
      <template is="dom-repeat" items ="{{accounts}}">
        <h3>IBAN - {{item.IBAN}}  || Balance - {{item.balance}}</h3>
      </template>
    </div>

    <!-- Llamada Ajax -->
    <!-- content-type para indicar que es JSON -->
    <!-- Method: POST -->
    <!-- on-error: gestionamos el error  -->
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-error="showError"
      on-response="manageAjAXResponse"></iron-ajax>

      <iron-ajax
        id="getAccounts"
        method="GET"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
        content-type="application/json"
        handle-as="json"
        on-error="showError"
        on-response="manageAjAXResponseAccounts"></iron-ajax>
  </template>

  <script>
    /**
     * Definimos la clase para dar funcionalidad al componente.
     * Extendemos de Polymer.ELement
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id:         {type: Number},
          first_name: {type: String},
          last_name:  {type: String},
          password:   {type: String},
          email:      {type: String},
          emailEnvio: {type: String},
          cuentaIban: {type: String},
          balance:    {type: Number},
          logged:     {type: Boolean, value : false},  // le damos valor por defecto
          accounts:   {type: Array}
        };
      }

      login (){
        console.log ("Botón login pulsado");
        // Creamos variable con JSON que mandaremos
        var loginData = {
          "email": this.emailEnvio,
          "password" : this.password
        }
        // $ es para acceder al shadow DOM, dentro hay un elemento doLogin que es el
        // componente ironAjax
        // Le indico que sobre el ajax, el cuerpo que se envía es el JSON construido
        this.$.doLogin.body = JSON.stringify (loginData);
        // Envía la petición ya con el body construido
        this.$.doLogin.generateRequest();
        console.log ("Petición enviada");
      };

      manageAjAXResponse (data){
        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.logged = true;
        //document.getElementById ("datos-usuario").style.display = "block";
        this.$.getAccounts.url="http://localhost:3000/apitechu/v2/users/" + this.id + "/accounts"
        this.$.getAccounts.generateRequest();
      }
      manageAjAXResponseAccounts (data){
        this.cuentaIban = data.detail.response[0].IBAN;
        this.balance = data.detail.response[0].balance;
        this.accounts = data.detail.response;
      }
      showError (error){
        console.log("Hubo un error");
        console.log (error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
