<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Importo la librería de IronAjax para poder invocar a peticiones Ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de usuario</h2>

    <!-- Pinto las propiedades. Estas serán rellenadas por la función manejadora
    de la petición ajax: showData  -->
    <h3>Nombre : {{first_name}} {{last_name}}</h3>
    <h3>EMail : {{email}}</h3>

    <!-- Llamada Ajax -->
    <!-- auto: al cargar (true) o bajo demanda -->
    <!-- La URL que vamos a invocar -->
    <!-- handle: cómo queremos que procese la respuesta: es json, que lo trate así-->
    <!-- on-response: Función manejadora de la repuesta asíncrona -->
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/user/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

    <input type="text" value="{{first_name::input}}"/><br/>
  </template>

  <script>
    /**
     * Definimos la clase para dar funcionalidad al componente.
     * Extendemos de Polymer.ELement
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:         {type: Number},
          first_name: {type: String},
          last_name:  {type: String},
          email:      {type: String}
        };
      }

      // Función manejadora de la llamada asíncrona Ajax
      showData (data){
        console.log("showData");
        console.log (data.detail.response);

        // asigno los valores a las propiedades definidas
        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      };
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
