<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Aquí no hay nada que ver</h1>
  </template>

  <script>

    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
      }
    }
    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
